SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=dhipaksankar06@gmail.com
SMTP_PASS=ipsflftvlnmsmhgn

MAIL_FROM_NAME=ConnectIT
MAIL_FROM_ADDRESS=dhipaksankar06@gmail.com

IMAP_HOST=imap.gmail.com
IMAP_PORT=993
IMAP_USER=dhipaksankar06@gmail.com
IMAP_PASS=ipsflftvlnmsmhgn